.register {
  width: 100%;
  height: 100%;
  overflow: hidden;
    position: relative;
  
    .register-content {
      --bs-gutter-x: 0;
      height: 100vh;
      background-image: url(../../../img/banner/banner2.png);
      background-position: center;
      background-size: cover;
      @media screen and (max-width: 767px) {
        background-position: center;
        background-size: cover;
        }
      .logo {
        img {
          position: absolute;
          top: 3%;
          left: 3%;
          width: 153px;
          z-index: 0;
          @media screen and (max-width: 767px) {
           left: 50%;
           transform: translateX(-50%);
            }
        }
      }
      .register-item {
        position: absolute;
      width: 825px;
      height: 610px;
      background: rgba(255, 255, 255, 0.95);
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width: 767px) {
        width: 90%;
        top: 55%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .register-item-content {

          .title {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 0;
            font-family: "Inter"; 
            font-weight: 600;
          }
          .nav-title {
            text-align: center;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-top: 10px;
            line-height: 25px;
            color: rgba(0, 0, 0, 0.47);
          }
        }
        .register-form {
          height: 100%;
          form {
            width: 757px;
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 20px auto;
            @media screen and (max-width: 767px) {
                
                }
            .col-6{
              @media screen and (max-width: 767px) {
                width: 45%;
           

           }
              .ant-form-item{
                @media screen and (max-width: 767px) {
                  margin-bottom: 0;
                  }
                .ant-row{
                  display: block;
                  margin-left: 40px;
                  .ant-form-item-label{
                    label{
  
                    }
                  }
                  .ant-form-item-control{
                    max-width: 90%;
                    @media screen and (max-width: 767px) {
                         max-width: 60%;
                    

                    }
                    .ant-form-item-control-input{
                      .ant-form-item-control-input-content{
                        button{                       
                          height: 40px;
                          padding: 0px 30px;
                          border-radius: 5px;
                          left: 50%;
                         
                                               
                          @media screen and (max-width: 767px) {
                            
                            margin-top: 20%; 
                            }
                          
                        }
                        .ant-input-affix-wrapper {
                          padding: 0 11px;
                          border-radius: 10px;
                        }
                        input{
                          padding: 10px 11px;
                          border-radius: 10px;
                        }
                        .ant-input-group-wrapper{
                          .ant-input-group{
                            .ant-input-group-addon{
                              border-radius: 10px
                            }
                          }
                        }
                        .ant-select{
                         
                          .ant-select-selector{
                            height: 45px;
                            border-radius: 10px;
                            .ant-select-selection-item{
                              padding-top: 6px;
                            }
                            .ant-select-selection-placeholder{
                              padding-top: 6px;
                            }
                          }
                        }
                        .ant-picker{
                          padding: 0 11px;
                          border-radius: 10px;
                          width: 304px;
                        }
                      }
                    }
                  }
                }
              }
            }
           
          }
        }
      }
    }
  }