.edit-location{
    margin: 25px;
    padding: 16px;
    background-color: white;
    height: 100vh;
    .edit-location-content{
        
        .edit-location-item{
            h1{
                font-size: 20px;
            }
            .edit-location-form{

            }
        }
    }
}