.edit-user{
    margin: 25px;
    padding: 16px;
    height: 100vh;
    background-color: white;
    .edit-user-content{
        
        .edit-user-item{
            h1{
                font-size: 20px;
            }
            .edit-user-form{

            }
        }
    }
}