.edit {
    position: relative;
    .edit-content {
      .edit-item {
        .edit-form {
          form {
            .col-6 {
              .ant-form-item {
                .ant-row {
                  .ant-form-item-label {
                    text-align: left;
                    label {
                    }
                  }
                  .ant-form-item-control {
                    .ant-form-item-control-input {
                      .ant-form-item-control-input-content {
                        .ant-select {
                          .ant-select-selector {
                            text-align: left;
                          }
                        }
                        .ant-picker {
                          width: 269px;
                        }
                        button {
                          width: 128.188px;
                          height: 35px;
                          transform: translate(5.59998px, 0px);
                          position: absolute;
                          left: 215px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  