.detail-user {
  .container {
    .row {
      .col-3 {
        .ant-card {
          .ant-card-body {
            .detail-user-avatar {
              padding-left: 50px;
            }
            .update-user-image {
              position: absolute;
              top: 190px;
              left: 87px;
            }
            .detail-user-content {
              position: absolute;
              top: 225px;
              left: 20px;
            }
            .ant-card-meta {
              position: absolute;
              top: 255px;
              left: 20px;
              width: 255px;
            }
            .btn {
              position: absolute;
              top: 340px;
              border: 1px solid #d3cfcf;
              left: 18px;
              border-radius: 10px;
            }
            .authen-email {
              border-top: 1px solid #d3cfcf;
              position: absolute;
              width: 253px;
              top: 415px;
              left: 20px;

              h2 {
                margin-top: 20px;
                font-size: 16px;
                margin-bottom: 0;
              }
             .content{
                display: flex;
                p{
                    margin-left: 5px;
                    margin-top: 3px;
                  }
             }
            }
          }
          .ant-card-actions {
            opacity: 0;
          }
        }
      }
      .col-9{
        h2{
            
        }
        a{
            text-decoration: underline;
        }
        .nav-title{
            margin-top: 15px;
        }
        .room-detail-user{
            .room-item{
                .col-5{
                    .image{
                        margin-bottom: 20px;
                        
                        .bg-transparent{
                            img{
                                height: 250px;
                                border-radius: 10px;
                                object-fit: cover;
                            }
                            
                        }
                    }
                }
                .col-7{
                    .info{
                        .room-name{

                        }
                        .mota{
                            color: rgb(161, 161, 161);
                            font-size: 17px;
                            
                        }
                        .day{
                            .day-come{
                                margin-top: 10px;
                                font-weight: bold;
                                font-size: 16px;
                                .come{
                                    color: gray;
                                    font-size: 15px;
                                }
                            }
                            .day-go{
                                font-weight: bold;
                                font-size: 16px;
                                .go{
                                    color: gray;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
      }
    }
  }
}
