section#footer{
    width: 100%;
    overflow: hidden;
    .container{
        .row{
            .col-3{
                ul{
                    li{
                        line-height: 35px;
                    }
                }
            }
        }
    }
  }