.edit-book-room{
    margin: 25px;
    padding: 16px;
    height: 100vh;
    background-color: white;
    .edit-book-room-content{
        
        .edit-book-room-item{
            h1{
                font-size: 20px;
            }
            .edit-book-room-form{

            }
        }
    }
}